<!DOCTYPE html>
<head>
  <title>SetInMind</title>
  <meta charset="UTF-8" />
  <meta name="author" content="Savegnago Filippo e Bontempelli Nicola" />
  <link rel="stylesheet" href="/assets/css01.css" type="text/css"/>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="/assets/notes.js"></script>
</head>
<body>
  <div id="todo-table">
    <form>
      <input type="text" name="item" placeholder="nuova nota" required />
      <input type="submit" class="button" value="inserisci nota" />
    </form>
  </div>
  <main>
    <% data.forEach(element => { %>
    <li><%= element.item %></li>
    <div class="postit"><%= element.item %></div>
    <% }) %>
  </main>
</body>
