body {
  background: #0d1521;
  font-family: tahoma;
  color: #989898;
}

input[type='text'] {
  width: 70%;
  padding: 20px;
  background: #181c22;
  border: 0;
  float: left;
  font-size: 20px;
  color: #989898;
}

input.button {
  padding: 20px;
  width: 26%;
  float: left;
  background: #23282e;
  border: 0;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  font-size: 20px;
}

@media screen and (max-width: 950px){
  input[type='text'] {
    width: 65%;
    padding: 15px;
    padding-top: 20px;
    padding-bottom: 20px;
    background: #181c22;
    border: 0;
    float: left;
    font-size: 20px;
    color: #989898;
  }

  input.button {
    padding: 15px;
    padding-top: 20px;
    padding-bottom: 20px;
    width: 22%;
    float: left;
    background: #23282e;
    border: 0;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    font-size: 20px;
  }
}

main {
  margin: auto;
  width: 93vw;
  height: 90vh;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
  align-items: center;
  align-content: flex-start;
}

.postit{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #181c22;
  max-width: 200px;
  min-width: 200px;
  min-height: 180px;
  max-height: 280px;
  margin-top: 2%;
  margin-bottom: 2%;
  margin-left: 5%;
  margin-right: 5%;
  padding: 1%;
}

.postit:hover {
  text-decoration: line-through;
  background: rgba(0, 0, 0, 0);
  color: white;
}
